# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

#uploadfolder
/storage/

# production
/build


src/lib/note/buildUserPrompt.js
src/lib/exam-prep/buildUserPrompt.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

src/.DS_Store

/src/generated/prisma

/src/generated/prisma

/tmp-convert
/tmp
/tmp-transcript
/tmp-slips